*{
    margin: 0;
    padding: 0;
}

#gale_galeria{
    background-color:rgb(30, 36, 36);
    color:azure;
    margin: 30px 40% 35px 40%;
    width: 1px 1px 1px 1px;
    padding: 12px 1px 12px 20px;
    border-radius:7px;
}

.gale_divp{
    margin: 1px 35% 70px 34.4%;
}

.gale_paragrafo1{
    display: inline;
    padding: 10px 5px 10px 35px;
}

.gale_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gale_divs{
    background-color: azure;
    width: 350px;
    height: 450px;
    border-radius: 31px 31px 26px 26px;
}

.gale_imagem{
    width: 350px;
    height: 300px;
    border-radius: 27px 27px 1px 1px;
}

.gale_nome_img{
    padding: 8px 1px 5px 97px;

}

.gale_paragrafo{
    padding: 7px 10px 10px 20px;
    color:rgb(39, 54, 59)
}

.gale_data{
    padding: 1px 1px 1px 85px;
}

