*{
    margin:0px;
    padding:0px;
}

.inicio_header{
    display: inline;
    margin: 1px 1px 1px 10%;
}

.inicio_contener01{
    display:flex;
    flex-direction: row;
    background-color: rgb(245, 141, 6);
    margin: 1px 1px 50px 1px;
}
.inicio_titulo{
    color:azure;
    padding: 30px 1px 1px 15%;
    margin: 1px 1px 1px 1px;
}

.inicio_links{
    padding: 37px 25px 1px 17%;
}

.inicio_link{
    display: inline;
    padding: 10px 5px 10px 35px;
}

.inicio_divp{
    margin: 1px 1px 5% 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.inicio_contener02{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inicio_div_img{
    border-radius: 5px;
    background-color:rgb(4, 110, 167);  
    width: 300.39px;
    height:250px
}

.inicio_tabela{
    background-color:rgb(248, 98, 11);
    padding: 1px 15px 1px 1px;
    border-radius: 7px;
}

.sob_titulo_link{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  rgb(245, 141, 6);
}

.sob_sobre{
    color:azure;
    padding:30px 10px 1px 16.5%;
}

.sob_links{
    padding: 40px 7% 1px 1px;
}

.sob_link{
    display: inline;
    padding: 1px 5px 1px 35px;
}

.sob_objetivos{
    margin: 2% 12% 1px 40%;
    color:azure
}

.sob_tecnologias{
    margin: 40px 12% 1px 41%;
    color:rgb(11, 11, 11)
}

.gerar_titulo_link{
    background-color:rgb(245, 141, 6);
    margin: 1px 1px 50px 1px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.gerar_gerador{
    color:azure;
    padding: 28px 1px 1px 19%;
}

.gerar_links{
    padding: 40px 10% 1px 1px;
}

.gerar_div_descrever{
    margin: 1px 1px 1px 38%;
    padding: 20px 1px 1px 1px;
}

.gerar_link{
    display: inline;
    padding: 10px 5px 10px 35px;
}

.gerar_descreva{
    margin: 6px 1px 1px 50px;
}

.gerar_form{
    margin: 10px 1px 1px 50px;
    padding: 1px 1px 1px 5px;
}

.gerar_imagem{
    width:290px;
    height:200px;
    margin: 20px 1px 1px 50px;
    border-radius:15px;
}


.gale_titulo_link{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(30, 36, 36);
    margin: 1px 1px 4% 1px;
    height: 100px;
}

#gale_galeria{
    color:azure;
    padding: 30px 1px 1px 16.5%;
}

.gale_links{
    padding: 2.1% 5% 1px 1px;
}

.gale_link{
    display: inline;
    margin: 3px;
    padding: 15px;
}

.gale_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gale_divs{
    background-color: azure;
    width: 350px;
    height: 450px;
    border-radius: 31px 31px 26px 26px;
    margin: 30px 1px 1px 1px;
}

.gale_imagem{
    width: 350px;
    height: 300px;
    border-radius: 27px 27px 1px 1px;
}

.gale_nome_img{
    padding: 8px 1px 5px 97px;
}

.gale_paragrafo{
    padding: 7px 10px 10px 20px;
    color:rgb(39, 54, 59);
}

.gale_data{
    padding: 1px 1px 1px 85px;
}


.cont_titulo_link{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px 1px 1px 1px;
    background-color: rgb(245, 141, 6);
}

.contcontato{
    color:azure;
    padding: 30px 30px 1px 19.5%;
}

.cont_links{
    padding: 40px 7% 1px 1px;
}

.contparagrafo{
    display: inline;
    padding: 10px 5px 10px 35px;
}

.contform{
    background-color: rgb(236, 130, 10);
    width:307px;
    height:260px;
    margin:5% 1px 1px 41%;
    border-radius: 7px;
    padding: 20px 1px 1px 1px
}

.contnome{
    padding:2px 1px 10px 13px;
    color:rgb(27, 27, 31)
}

.continfor{
    display:block;
    padding:2px 1px 10px 133px;
    color:rgb(27, 27, 31)
}

#contbutton{
    background-color:rgb(252, 67, 95);
    display:block;
    padding: 7px 20px 7px 20px;
    margin: 40px 1px 1px 110px;
}

#contbutton:hover{
    background-color:rgb(230, 7, 7)
}